body {
    background: #8ae677;
    font-family: 'Arimo','Roboto','Sarabun',sans-serif;
   
}
#navBar .navbar-brand {
    color: #000000;
}

#navBar {
    font-size: 2rem;
    font-weight: 100;
}
#navBar .nav-link {
    color: #0010f1;
}
#navBar .nav-link:hover {
    color: #fffd9f;
}